:root {
  --lightgrey: #282C34;
  --darkgrey: #21252B;
  --offwhite: #F0F0F0;
  --offgrey: #F1F1F1;
  --red: #E06A69;
  --green: #98C36E;
  --white: #FFFFFF;
  --orange: #D19A66;
  --sidebar: 180px;
  --sidebar-font-size: 100%;
  --pxradius: 20px;
  --font-size: 20px;
  --cardheader: 70%;
  --cardsize: 40%;
}

body {
  font-family: monospace;
  font-size: var(--font-size);
  background-color: var(--lightgrey);
  color: var(--offgrey);

}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: var(--sidebar);
  padding: 2%;
}

h2, h3, h4 {
  font-size: 150%;
  padding-top: 30px;
  padding-bottom: 30px;
  
}

p {
  margin: 8px;
}
  
span {
  color: var(--red);
}

/* Start of navbar styling */
nav {
  display: flex;
  font-size: var(--sidebar-font-size);
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: var(--sidebar);
  max-width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--darkgrey);
  overflow-x: hidden;
  padding: 10px;
}
  
nav a {
  align-items: stretch;
  column-gap: 10px;
  padding: 15px;
  text-decoration: none;
  color: var(--offwhite);
  display: block;
}
 
nav a:hover {
  filter: invert(10%);
  background-color: var(--lightgrey);
}
/* End of navbar styling */

footer {
  text-align: center;
  margin-left: var(--sidebar);
}

.project-cards {
  flex: 1;
  background-color: var(--lightgrey);
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
/* styling for projects sections */

/* Start of card styling */
.card {
  margin: 15px;
  border-style: double;
  border-width: 6px;
  border-radius: var(--pxradius);
  border-color: var(--orange);
  padding: 10px;
  box-shadow: 5px 5px 2px var(--orange);
  text-align: center;
  flex: 0 0 var(--cardsize);
}

.card > header {
  font-size: var(--cardheader);
  position: relative;
  margin-top: -35px;
  padding: 10px;
  border: 6px;
  background-color: var(--darkgrey);
  border-radius: var(--pxradius);
  border-style: solid;
  border-color: inherit;
}

.card img {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 90%;

}

.card > p {
  padding: 25px;
  border: 2px;
  background-color: var(--darkgrey);
  border-style:solid;
  border-color: inherit;
  margin-left: 5%;
  margin-right: 5%;
}

.card:hover {
  filter: invert(10%);
  border-color: var(--green);
  box-shadow: 5px 5px 3px var(--green);
}

.card:active {
  filter: invert(10%);
  border-color: var(--green);
  box-shadow: 5px 5px 3px var(--green);
}

.card:focus {
  border-color: var(--green);
  box-shadow: 5px 5px 3px var(--green);
}
/* End of card styling */

#logo {
  z-index: 3;
  position: fixed;
  width: var(--sidebar);
  max-width: 200px;
  max-height: 200px;
}

#avatar {
  max-height: 180px;
  max-width: 180px;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-color: var(--offwhite);
  border-style: solid;
  border-width: 5px;
  padding: 1px;
  
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#header {
  margin-left: var(--sidebar);
  font-size: 225%;
  color: var(--white);
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#largecard {
  flex: 0 0 100%;
}
/* just to meet AC */

#About {
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (max-width: 820px) {
  :root {
    --font-size: 14px;
    --cardsize: 100%;
    /* --sidebar: 0px; */
  }
  
  nav {

    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: 30px;
    justify-content: right;
    align-content: center;
  }
  
  main {
    margin-left: 0px;
  }

  footer {
    margin-left: 0px;
  }
  
  #logo {
    max-height: 50px;
    max-width: 50px;
  }

  #header {
    margin-left: 0px;
  }
  
  #avatar {
    margin-top: 60px;
  }
}
/* styling for tablet */
  
@media screen and (max-width: 480px) {
  :root {
    --font-size: 10px;
 
  }