:root {
  --lightgrey: #282C34;
  --darkgrey: #21252B;
  --offwhite: #F0F0F0;
  --offgrey: #F1F1F1;
  --red: #E06A69;
  --green: #98C36E;
  --white: #FFFFFF;
  --sidebar: 10%;
}

body {
  font-family: monospace;
  font-size: 16px;
  background-color: var(--lightgrey);
  color: var(--offgrey);
}
  
span {
  color: var(--red);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: var(--sidebar);
  max-width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--darkgrey);
  overflow-x: hidden;
  padding-top: 20px;
}
  
nav a {
  align-items: stretch;
  column-gap: 10px;
  padding: 15px;
  text-decoration: none;
  color: var(--offwhite);
  display: block;
}
 
nav a:hover {
  color: #F1F1F1;
}

#logo {
z-index: 3;
position: fixed;
width: var(--sidebar);
max-width: 180px;
max-height: 180px;
}

header {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--sidebar);
  text-align: center;
  font-size: 200%;
  color: var(--white);
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

header img {
  position: absolute;
}

main {
  margin-top: 30px;
  margin-left: var(--sidebar);
  padding: 0px 10px;
}

h2 {
  padding: 20px;
  font-size: 150%;
}

h3 {
  padding: 20px;
  font-size: 150%;
}

h4 {
  padding: 20px;
  font-size: 150%;
}

section p{
  padding: 2px;
  margin-left: 30px;
}
  
@media screen and (max-width: 480px) {
  :root {
    --sidebar: 25%;
  }
  nav {
    font-size: 75%;
  }
}